body{
  font-family: Montserrat;
  font-size: 16px;
  color: #1c1d1d;
  /* color: blue; */
  margin: 0px;
  cursor: default;
}

h1{
 font-style: normal;
 font-weight: 600;
 font-size: 48px;
}
  
h2{
 font-style: normal;
 font-weight: 600;
 font-size: 40px;
 }
  
h3{
 font-style: normal;
 font-weight: 600;
 font-size: 32px;
}

.hero .heroimg{
  width: 1332px;
  margin-bottom: 40px;
}

.form-data .dokter{
  margin-top: 80px;
}

.form-group-1{
  width: 551px;
  margin-bottom: 32px;
}

.form-group-2{
  margin-bottom: none;
}

.form-control {
  background: #F7F7F7;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #BBC1E2;
}

.form-control:focus {
  border: 1px solid #BBC1E2;
  border-radius: 5px;
}

::placeholder{
  color: #9E9EA7;
}

.form-data .btn{
  background: #4156A3;
  border:none;
  border-radius: 5px;
  padding: 14px 30px 14px 30px;
  width:300px;
}
  
.form-data .btn:hover{
  background: #33468B;
}

.footer{
  margin-top: 160px;
  background-color: #242A3E;
  color: #ffffff;
  padding: 56px 0px 24px 0px;
  font-size: 14px;
  font-weight: 500;
}

.footer-menu li{
  text-decoration: none;
  list-style: none;
  margin-bottom: 16px;
}

.footer-sosmed li{
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.footer-sosmed img{
  margin-right: 24px;
}

.hr-line{
  border: 0.5px solid white;
  margin-top: 40px;
}